DATABASE_URL="postgresql://USER:PASSWORD@ep-example-123456-pooler.ap-southeast-1.aws.neon.tech/gobank?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@ep-example-123456.ap-southeast-1.aws.neon.tech/gobank?sslmode=require"
